body {
    max-width: 1400px;
    width: 100%;
    max-height: 3843px;
    padding: 20px; 
    padding-top: 22px;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1400px;
    min-height: 78px;
}

.menu__logo {
    display: flex;
    width: 185px;
    height: 32px;
}

.logopic {
    display: flex;
    align-items: center;
}

.logotext {
    display: flex;
    align-items: center;
}

.menu__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    transform: translateX(50px);
    list-style: none;
    max-width: 350px;
    width: 100%;
    min-height: 48px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
}

.menu__link {
    display: flex;
}

a {
    color: black;
    text-decoration: none;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    gap: 30px;
}

.button__signin {
    border: solid 1px #BCD0E5;
    border-radius: 4px;
    color: #173A56;
    display: flex;
    align-items: center;
    background-color: white;
    right: 291px;
    width: 102px;
    height: 46px;
}

.button__signup {
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    background-color: #FF9900;
    color: white;
    width: 110px;
    height: 46px;
}

.section { /*section and section1 are the same but whyyyy cant I move the entire section?*/
    display: flex;
    max-width: 1126px;
    width: 100%; 
    min-height: 496px;
}

.section1 {
    display: flex;
}

.section1__card {
    max-width: 518px;
    width: 100%; 
    min-height: 331px;
}

.headline {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
}

.section1__text {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}

.section1__button {   
    display: flex;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.getstarted {
    background-color: #FF9900;
    width: 175px;
    height: 53px;
    border-radius: 4px;
    border: none;
    color: white;
}

.watch {  /*fix so I don't need the margin*/
    display: flex;
    justify-content: flex-start; 
    flex-direction: row;
    margin: 14px;
    height: 23px;
    border: none;
    color: #FF9900;
    background-color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.playtext {
    margin-left: 10px;
}

.section2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 2211px;
    width: 100%;
    min-height: 543px;
}

.section2__headline {
    text-align: center;
    max-width: 539px;
    width: 100%;
    min-height: 138px;
    font-size: 36px;
}

.section2__card {
    max-width: 1095px;
    width: 100%;
    min-height: 205px;
    display: flex; 
    justify-content: space-between;
}

.box1 {
    width: 240px; 
    height: 178px; 
}

.box2 {
    width: 240px; 
    height: 178px; 
}

.box3 {
    width: 240px; 
    height: 178px; 
}

.box4 {
    width: 240px; 
    height: 204px; 
}

.box__headline {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
}

.box__text {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.section2__button {
    display: flex;
    align-self: center;
}

.signupnow { /*this should have a better name - goes for all the button names tbh*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 53px;
    background: #FF9900;
    border-radius: 4px;
    border: none;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: white;
}

.infosection { 
    display: flex;
    justify-content: center;
    max-width: 1110px;
    width: 100%;
    min-height: 600px;
    padding: 30px;
}

.infosection1 {
    min-height: 574px;
}

.infosection__card1 {
    max-width: 486px;
    width: 100%;
    min-height: 531px;
    display: flex;
    flex-wrap: wrap;
}

.infosection__text {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.infosection__headline {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
}

.infosection__headlinesmall {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
}

.infosection1__image {
    max-width: 520px;
    width: 100%;
    min-height: 574px;
}

.infosection2 {
    bottom: 1162px; 
    left: 144px;
    max-width: 1121px;
    width: 100%;
    min-height: 521px;
}

.infosection2__image {
    max-width: 533px;
    width: 100%;
    min-height: 520px;
}

.infosection__card2 {
    max-width: 486px;
    width: 100%;
    min-height: 427px;
}

.checkmark {
}

.checkmarktext {
    transform: translateX(50px);
    display: flex; 
    flex-wrap: wrap;
}

.infosection3{
    max-width: 1110px;
    width: 100%;
    min-height: 609px;
}

.infosection__card3 {
    max-width: 486px;
    width: 100%;
    min-height: 531px;
    transform: translateY(30px)
}

.infosection3__image {
}

footer {
    max-width: 1400px;
    width: 100%;
    min-height: 308px;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    margin-bottom: 0px;
}

.footer__logo {
}

.footer__menu {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 35px;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.footer__list1 {
    display: flex; 
    justify-content: flex-end;
    width: 118px;
    height: 205px;
}

.footer__list2 {
    display: flex; 
    justify-content: flex-end;
    width: 141px;
    height: 205px;
}

.membership {
    max-width: 325px;
    width: 100%;
    min-height: 109px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.membership__button {
    background-color: #FF9900;
    color: white;
    width: 131px;
    height: 39px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 10px;
}

.membership__input {
    transform: translateY(-21px);
    border-radius: 4px;
    border-color: #BCD0E5;
    max-width: 325px;
    width: 100%;
    min-height: 48px; 
}