body {
    width: 100%;
    max-width: 1400px;
    height: 3843px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    max-width: 1400px;
    height: 78px;
/*    background-color: #cacaca;*/
}

.menu__logo {
    display: flex; 
    position: absolute;
    top: 22px;
    left: 144px;
    width: 185px;
    height: 32px;
}

.logopic {
    margin-right: 10px;;
}

.logotext {
    display: flex;
    align-items: center;
}

/*I just cannot get this menu list to work
when i use the inspect tool the sizes are 
all off and I dont get why? */
.menu__list {
/*  background-color: aliceblue;*/
    display: flex;
    align-items: center;
    list-style: none;
    position: absolute; 
    right: 400px;
    width: 350px;
    height: 48px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
}

.menu__link {
    display: flex;
}

a {
    color: black;
    text-decoration: none;
}

/*okay this is a temporary solution - at least it looks right*/
.link1 {
    transform: translateX(-60px)
}

.link2 {
    transform: translateX(-40px);
}

.link3 {
    transform: translateX(-20px);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.button__signin {
    border: solid 1px #BCD0E5;
    border-radius: 4px;
    color: #173A56;
    display: flex;
    align-items: center;
    background-color: white;
    position: absolute;
    right: 291px;
    width: 102px;
    height: 46px;
}

.button__signup {
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    background-color: #FF9900;
    color: white;
    position: absolute;
    right: 145px;
    width: 110px;
    height: 46px;
}

.section {
        /*what is the same in all sections? add it here*/
}

.section1 {
    position: absolute;
    left: 145px;
    top: 128px;
    width: 1126px; 
    height: 496px;
    display: flex;
    align-content: center;
}

.section1__card {
    position: absolute; 
    top: 113px;
    width: 518px; 
    height: 331px; 
    background-color: white;
}

.headline {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
}

.section1__text {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}

.section1__button {
    display: flex;
    align-items: flex-end;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.getstarted {
    background-color: #FF9900;
    width: 175px;
    height: 53px;
    border-radius: 4px;
    border: none;
    color: white;
}

.watch {  /*fix so I don't need the margin*/
    display: flex;
    justify-content: flex-start; 
    flex-direction: row;
    margin: 14px;
    height: 23px;
    border: none;
    color: #FF9900;
    background-color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.playtext {
    transform: translateX(10px);
}

.section1__image {
    position: absolute;
    right: 0; 
    display: flex;
}

/*I changed the positioning a bit in section 2 as
the spaces were not reflecting the figma image correctly*/

.section2 {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 2211px;
    height: 543px;
    position: relative;
    left: -406px;
    top: 724px;
}

.section2__headline {
    text-align: center;
    width: 539px;
    height: 138px;
    font-size: 36px;
}

.section2__card {
    width: 1095px;
    height: 205px;
    position: absolute;
    top: 100px;
    display: flex; 
    justify-content: space-between;
}

.box {
    position: relative;
    top: 54px;
}

.box1 {
    width: 240px; 
    height: 178px; 
}

.box2 {
    width: 240px; 
    height: 178px; 
}

.box3 {
    width: 240px; 
    height: 178px; 
}

.box4 {
    width: 240px; 
    height: 204px; 
}

.box__headline {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
}

.box__text {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.section2__button {
    display: flex;
    align-self: flex-end;
    position: absolute;
    left: 1027px;
}

.signupnow { /*this should have a better name - goes for all the button names tbh*/
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 90px;
    width: 175px;
    height: 53px;
    background: #FF9900;
    border-radius: 4px;
    border: none;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: white;
}

.infosection { /*all of them, like fonts etc*/
    width: 1110px; 
    height: 600px;
    position: absolute; 
    display: flex;
    top: 1397px;
    left: 145px;
}

.infosection1 {
    height: 574px;
}

.infosection__card1 {
    width: 486px;
    height: 531px;
    display: flex;
    flex-wrap: wrap;
}

.infosection__text {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.infosection__headline {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
}

.infosection__headlinesmall {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
}

.infosection1__image {
    width: 520px;
    height: 574px;
    position: absolute;
    right: 0px;
}

.infosection2 {
    position: relative;
    bottom: 1162px; 
    left: 144px;
    width: 1121px;
    height: 521px;
    transform: translateY(50px)
}

.infosection2__image {
    width: 533px;
    height: 520px;
}

.infosection__card2 {
    width: 486px;
    height: 427px;
    position: absolute; 
    right: 0px;
}

.checkmark {
    position: absolute;
}

.checkmarktext {
    transform: translateX(50px);
    display: flex; 
    flex-wrap: wrap;
}

.infosection3{
    width: 1110px;
    height: 609px;
    position: relative; 
    transform: translatey(150px);
}

.infosection__card3 {
    width: 486px;
    height: 531px;
    transform: translateY(30px)
}

.infosection3__image {
    position: fixed;
    right: 0px; /*note to self: look up when position relates to container/body*/
}

/*why is it aaaaall the way in the middle and not the bottom?*/
footer {
    width: 1109px;
    height: 308px;
    position: absolute;
    left: 160px;
    transform: translateY(1700px); /*this is also a nödlösning*/
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.footer__logo {
    transform: translate(-600px, -130px);
}

.footer__menu {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 35px;
    list-style: none;
    display: flex;
    flex-direction: column;
}
/*the menu doesn't line up with box edge
probably bc it's a list and I removed the dots?
same issue in header. it's annoying.*/
.footer__list1 {
    display: flex; 
    justify-content: flex-end;
    width: 118px;
    height: 205px;
    position: absolute;
    right: 650px;
    bottom: -5px;
}

.footer__list2 {
    display: flex; 
    justify-content: flex-end;
    width: 141px;
    height: 205px;
    position: absolute;
    right: 407px;
    bottom: -5px;
}

.membership {
    width: 325px;
    height: 109px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.membership__button {
    background-color: #FF9900;
    color: white;
    width: 131px;
    height: 39px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 10px;
}

.membership__input {
    transform: translateY(-21px);
    border-radius: 4px;
    border-color: #BCD0E5;
    width: 325px;
    height: 48px; 
}